/* .bg-picture{

  z-index:-1;
  height:80vh;
  object-fit: cover;

} */
@media only screen and (max-device-width: 1366px) {
  .bg-picture {
    background-attachment: scroll;
  }
}
.bg-picture {
  z-index: -1;
  height: 60vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* background-color:rgb(72, 72, 72); */
  /* transition: transform 2030ms ease-in-out; */
}
a.carousel-control-prev, a.carousel-control-next{
  display:none;
}
/* .bg-picture:hover {
  transform:scale(1.1);
  transition: transform 2030ms ease-in-out;
} */
