
/* .bg-picture{

  z-index:-1;
  height:80vh;
  object-fit: cover;

} */
@media only screen and (max-device-width: 1366px) {
  .bg-picture {
    background-attachment: scroll;
  }
}
.bg-picture{

  z-index:-1;
  height:80vh;
  width: 100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
