
nav.navbar{
  /* position: absolute; */
  /* top: 0;
    width: 100%;
    z-index:1; */
}
.title-text{
  font-size: 15px;
}
.col-logo{
  text-align: center;
  cursor: pointer;
}
/* .col-logo > img{
  width:50px; 
  height:50px;
} */
