/* .home-description::first-letter{
    color: #001c58;
    font-size: 5rem;
  } */
.logo{
  width:50px; 
  height:50px;
}

.home-semi-title{
  font-family: "Kalam", serif;
}
.home-sushi-picture{
  width:100%;
  height:50vh;
}


.home-row{
  margin:20px 0px;
  /* transform:translateY(10px); */
  opacity:0.1;
  transition:all 1.5s ease-out;
}
.home-row.show{
  /* transform:translateY(0px); */
  transition:all 0.5s ease-in;
  opacity:1;
}